#gameContainer {
  margin:auto;
  width: 50%;
  height: 100%;
  text-align: center;
}

#controlpanel {
}

.word {
  margin-left: 10px;
  display: inline-block;
  width: 40px;
  color : white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid black;
}

button {
  width: 80px;
  height: 50px;
}

#quote{
  font-weight: bold;
}

.col-sm-3{

}
